::selection {
  color: #fff;
  background: #ff9900;
  text-shadow: none;
}


.container-fluid{
padding:7% 15%;
}

.colored-section{
background-color:#ff9900;
}

.white-section{
background-color:#ffffff;
}


h1 h2 h3{
font-family:"Montserrat";
}

p{
text-align:center;
}

.btn {
font-size: 13px;
font-weight:700;
padding: 15px 25px;
letter-spacing: 1px;
text-transform: uppercase;
border-radius: 0;
font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Navbar */
.navbar-custom .navbar-text{
    color:#ffffff;
}

#mainNav {
  position: absolute;
  border-bottom: 0px solid #e9ecef;
  background-color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1080px) {
  #mainNav {
    border-bottom: 0px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #ffffff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #ffffff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1080px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #ff9900;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #ff9900;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}


.navbar .navbar-toggler{
background-color:#ffffff;
}

.navbar .navbar-toggler-icon{
background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu .navbar-text{
color:#000000;
}

/* Header */

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  margin-bottom:0px;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 60px;
  margin-top: 0;
  font-weight:700;
  font-family:Montserrat;
}

@media only screen and (min-width: 1080px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    adding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}


header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: "Dancing Script";
}

@media only screen and (min-width: 1080px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}


/* Features */

#features{
text-align:center;
}

.feature-title{
font-family:"Montserrat";
font-weight:600;
font-size:1.5rem;
}

.icon{
padding:10px;
}

/* cta */

#cta{
text-align:center;
}

.cta-heading
{
color:#ffffff;
font-family:"Montserrat";
font-weight:600;
font-size:3rem;
padding:20px 0px;
}

.cta-btn{
margin:20px;
width:20%;
}

@media only screen and (max-width:1080px) {
.cta-btn{
font-size:.7rem!important;
width:15%;
}
}

@media only screen and (max-width:800px) {
.cta-btn{
font-size:.5rem!important;
width:20%;
}
}



/* Carousel */


.carousel-img{
margin:10%;
width:30%!important;
text-align:center;
}

.carousel-item{
text-align:center;
}

.carousel-text{
font-family:"Montserrat";
text-align:center;
}

#product-carousel a{
color:#000000;
}

/* Login */
.login-text h3{
text-align:center;
font-family:"Montserrat";
font-size:2.5rem;
font-weight:600;
}

.login-form{
width:50%;
}

/* Register */


.register-text h3{
text-align:center;
font-family:"Montserrat";
font-size: 2.5rem;
font-weight:600;
}

.register-form{
width:50%;
}

/* Add */

.add-text h3{
text-align:center;
font-family:"Montserrat";
font-size: 2.5rem;
font-weight:600;
}

.add-form{
width:50%;
}

/* Cart */
.cart{
text-align:center;
}


.cart-img
{
width:30%;
margin-right:20%;
}

.cart-text{
text-align:center;
margin-top:5%;
}


.cart-text-h3{
font-family:"Montserrat";
font-size:2rem;
font-weight:600;
margin:20% 0% 10%;
}

.cart-text a{
font-family:"Montserrat";
font-size:1.2rem;
font-weight:500;
margin:10% 0%;
color:#000000;
}

hr{
background-color:#000000;
border-top:2px solid;
}

@media only screen and (max-width:1080px) {
.cart-text-h3 {
font-size:1.5rem!important;
}
.cart-text a{
font-size:1rem;
}
}

@media only screen and (max-width:750px) {
.cart-text-h3 {
font-size:1rem!important;
}
.cart-text a{
font-size:.75rem;
}
}


/* Item Page */

#item-page{
text-align:center;
}

.item-description{
background-color:#ffffff;
}

.item-description h1{
font-family:"Montserrat";
font-weight:600;
padding: 3%;
}

.item-description h3{
font-family:"Montserrat";
font-weight:600;
padding:3%;
}

.item-description h4{
font-family:"Montserrat";
font-weight:600;
padding:3%;
}

.store-link
{
color:#000000;
}

.low-price{
color:green;
}

/* Settings */

.settings-form{
width:50%;
}

.settings-text{
font-family:"Montserrat";
font-weight:600;
padding:4% 0%;
text-align:left;
}


/* Footer */
Footer
{
background-color:#ffffff;
text-align:center;
font-weight:600;
}

.copyright
{
font-family:"Ubuntu";
font-weight:400;
padding-top:40px;
padding-bottom:100px;
}