{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<!-- Page Header -->
<section class="colored-section" id="search-bar">
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hello {{current_user.name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>



    <div class="container-fluid">
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto">
            <form action="{{url_for('search_list')}}" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="job-search" name="job-search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass fa"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% include "footer.html" %}